{% extends 'base.html' %}
{% block title %}프로젝트 생성 {% endblock %}
{% block content %}
{% load bootstrap4 %}
<link rel="stylesheet" href="/static/css/create.css">
<script src="/static/js/create.js"></script>
<form action="{% url 'Project:create' %}" method="POST" enctype="multipart/form-data" id='form_id' name='projectform' class="row">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="button" class="btn btn-primary form-control mt-3 py-4" id="create" value="프로젝트 생성">
</form>
<br><br><br>

{% endblock  %}

{% block script %}
<script src="/static/js/project_create.js"></script>
{% endblock  %}