{% extends "base.html" %}
{% block content %}
<script src="https://kit.fontawesome.com/c0bcdc1f96.js" crossorigin="anonymous"></script>
<div class="row mt-5">
    <div class="col-12">
        <div class="form-group detailDiv rounded p-4 row gx-4" id="form_id">
            <h2 class="title" id='title'>{{project.title}}</h2>
            <div class="mb-4 bg-white detail-control">
                <label for="thumbnail">썸네일</label>
                {% if project.thumbnail %}
                <p class="text-center"><img src="{{project.thumbnail.url}}" alt="프로젝트 썸네일" style="height:15vw;object-fit: contain;"></p>
                {% else %}
                <p>썸네일이 없습니다.</p>
                {% endif %}
            </div>
            <div class="col-6 m-0 p-0 mb-4">
                <div class="detail-control me-2">
                    <label for="summary">개요</label>
                    <p>{{project.summary}}</p>
                </div>
            </div>
            <div class="m-0 p-0 mb-4 col-6">
                <div class="detail-control ms-2">
                    <label for="language">사용 언어</label>
                    <p>
                        {% for language in project.language.all %}
                        <a class="text-dark border-dark border border-1 rounded border-primary p-1 text-decoration-none">{{language.language}}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="detail-control mb-4">
                <label for="member">개발자</label>
                <p>
                    <a href="{% url 'Developer:info' project.leader.pk %}" class="leader btn btn-outline-primary">{{project.leader.nickname}}</a>
                    {% for member in project.member.all %}
                    <a href="{% url 'Developer:info' member.pk %}" class="member btn btn-outline-success ">{{member.nickname}}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-6 d-inline-block m-0 p-0 mb-4">
                <div class='m-0 me-2 detail-control'>
                    <label for="startdate">시작일</label>
                    <p>{% if project.startdate %}{{project.startdate|date:""}}{% else %}미정{% endif %}</p>
                </div>
            </div>
            <div class="col-md-6 d-inline-block m-0 p-0 mb-4">
                <div class="m-0 ms-2 detail-control">
                    <label for="enddate">종료일</label>
                    <p>{% if project.enddate %}{{project.enddate}}{% else %}미정{% endif %}</p>
                </div>
            </div>
            <div class="detail-control mb-4">
                <label for="contents">내용</label>
                <p>{{project.contents}}</p>
            </div>
            <div class="detail-control mb-4">
                <label for="documents">문서</label>
                <table class="table">
                    <tr>
                        <th>문서 유형</th>
                        <th>파일 명</th>
                        <th>다운로드</th>
                    </tr>
                    {% for doc in docs %}
                    <tr>
                        <td>{{doc.category}}</td>
                        <td>{{doc.docfile_original}}</td>
                        <td><a class="btn btn-success" href="{% url 'Project:doc_download' doc.id %}">다운로드</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">문서가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="mt-3 p-0">
                {% if request.session.who == 'developer' and project.leader.id == request.session.id %}
                {% csrf_token %}
                <a class="btn btn-light float-start me-2" href='{% url "Project:update" project.pk %}'>수정하기</a>
                <a class="btn btn-light float-start" onclick="chkDelete()">삭제하기</a>
                {% endif %}
                
                <a class="btn btn-primary float-end" href='{% url "Project:list" %}'>돌아가기</a>
                <a class="btn btn-primary float-end mx-2" href='{% url "Recruit:detail" project.recruit.pk %}'>모집글 보기</a>
                {% if request.session.id %}
                <button id="like" class="btn btn-light float-end border-0 {% if is_like %}like text-danger{%else%}unlike text-secondary{% endif %}"><i class="fa-solid fa-heart"></i></button>
                {% endif %}
                <form action="{% url 'Project:delete' %}" name="delete" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{project.pk}}">
                </form>
                <script>
                    function chkDelete(){
                        // 삭제 여부 확인
                        var r = confirm("삭제하시겠습니까?")
                        if(r){
                            document.forms.delete.submit();
                        }
                    }
                </script>
                
            </div>
        </div>
    </div>
</div>

<div class="row mt-5" id="id_comment_reload">
    <div class="col-12">
        <div class="form-group detailDiv rounded p-4 row" id="id_comment_div">
            <div class="bg-white detail-control">
                <label class="px-4 d-inline-block">댓글</label>
                <button class="btn btn-primary text-end " onclick='$(this).after($("#commentDiv"));parentcomment=null'>댓글 작성</button>
                <div class="position-relative" id='commentDiv'>
                    <textarea name="comment" id="id_comment" cols="30" rows="2" style="resize:none;padding-right:10%;" class="d-block w-100 form-control"
                    {% if not request.session.id %}disabled placeholder='로그인 후 이용하세요.'{% else %}placeholder='프로젝트에 댓글을 남겨보세요.'{% endif %}></textarea>
                    <button class="btn btn-primary position-absolute" style="right:1%;bottom:20%;" id="create_comment_btn" title="댓글을 작성해주세요.">작성</button>
                </div>
                {% for comment in comments|dictsortreversed:'id' %}
                <div class='comment-control rounded p-2 mt-2 div{{comment.pk}}'>
                    <img class="rounded-circle border border-1" style="height:3vw;width:3vw;object-fit: contain;border-color:lightcoral !important"
                    src="{% if comment.developer and comment.developer.pic %}{{comment.developer.pic.url}}{% elif comment.developer %}/media/user_icon.png/{% elif comment.company.pic %}{{comment.company.pic.url}}{% else %}/media/thumbnail-default.jpg{% endif %}" alt="이미지 없음">
                    <label class="px-4 d-inline-block"><a class="text-decoration-none text-white" href="{% if comment.developer %}{% url 'Developer:info' comment.developer.pk %}{% else %}{% url 'Company:detail' comment.company.pk %}{% endif %}">{% if comment.developer %}{{comment.developer.nickname}}{% else %}{{comment.company.name}}{% endif %}</a></label>
                    <label class="px-4 d-inline-block bg-success">{{comment.regdate}}</label>
                    <p class="px-1">{{comment.contents}}</p>
                    {% if request.session.who == 'developer' and comment.developer.pk == request.session.id or request.session.who == 'company' and comment.company.pk == request.session.id %}
                    <button class="btn btn-danger mb-1 {{comment.pk}}">삭제</button>
                    <script>
                        $('.{{comment.pk}}').click(function(){
                            $.ajax({
                                url: "{% url 'Project:removecomment' comment.pk %}",
                                type: "POST", 
                                data: {'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
                                dataType: "json", 
                                success: function(){
                                    console.log("삭제성공")
                                    $('.div{{comment.pk}}').slideUp("fast", function(){$(".div{{comment.pk}}").remove()})
                                }
                            })
                        })
                    </script>
                    {% endif %}
                    <button class="btn btn-primary mb-1" onclick='$(this).after($("#commentDiv"));parentcomment={{comment.pk}}'>답글 작성</button>
                    {% for reply in comment.parents.all|dictsortreversed:'id' %}
                    <div class="reply-control rounded py-2 px-4 my-2 mx-4 div{{reply.pk}}">
                        <img class="rounded-circle border border-1" style="height:3vw;width:3vw;object-fit: contain;border-color:white !important"
                        src="{% if comment.developer and comment.developer.pic %}{{comment.developer.pic.url}}{% elif comment.developer %}/media/user_icon.png/{% elif comment.company.pic %}{{comment.company.pic.url}}{% else %}/media/thumbnail-default.jpg{% endif %}" alt="이미지 없음">
                        <label class="px-4 d-inline-block bg-white"><a class="text-decoration-none" style="color:lightcoral" href="{% if reply.developer %}{% url 'Developer:info' reply.developer.pk %}{% else %}{% url 'Company:detail' reply.company.pk %}{% endif %}">{% if reply.developer %}{{reply.developer.nickname}}{% else %}{{reply.company.name}}{% endif %}</a></label>
                        <label class="px-4 d-inline-block bg-success">{{reply.regdate}}</label>
                        <p class="px-1">{{reply.contents}}</p>
                        {% if request.session.who == 'developer' and reply.developer.pk == request.session.id or request.session.who == 'company' and reply.company.pk == request.session.id %}
                        <button class="btn btn-danger mb-1 {{reply.pk}}">삭제</button>
                        <script>
                            $('.{{reply.pk}}').click(function(){
                                $.ajax({
                                    url: "{% url 'Project:removecomment' reply.pk %}",
                                    type: "POST", 
                                    data: {'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
                                    dataType: "json", 
                                    success: function(response){
                                        if(response.data == 'success'){
                                            $('.div{{reply.pk}}').slideUp("fast", function(){$(".div{{reply.pk}}").remove()})
                                        }
                                    }
                                })
                            })
                        </script>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <script src="/static/js/detail.js"></script>
                <link rel="stylesheet" href="/static/css/detail.css">
                <script src="/static/js/project/project_detail.js"></script>
                <script src="/static/js/project/comment.js"></script>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<script>
likeurl = "{% url 'Project:likeproject' project.pk %}"
unlikeurl = "{% url 'Project:unlikeproject' project.pk %}"
commenturl = "{% url 'Project:addcomment' project.pk %}"
parentcomment = null
$(document).ready(function(){
    $('#create').click(function(){
        var userid = '{{request.session.id}}';
        if(userid){
            location.href = "{% url 'Project:create' %}"
        }else{
            alert("로그인이 필요한 항목입니다")
        }
    })
})
</script>
{% endblock %}
