{% extends 'base.html' %}
{% block title %}프로젝트 생성 {% endblock %}
{% block content %}
{% load bootstrap4 %}
<link rel="stylesheet" href="/static/css/create.css">
<script src="/static/js/create.js"></script>
<form action="{% url 'Project:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary mt-3">프로젝트 생성</button>
</form>

{% endblock  %}

{% block script %}
<script>
    function readImage(input) {
        if (input.target.files && input.target.files[0]) {
            const reader = new FileReader();

            reader.onload = (e) => {
                console.log(e.target.result)
                $('input[type="file"]').siblings('label').css({'background-image': 'url('+e.target.result+')'})
            }
            reader.readAsDataURL(input.target.files[0]);
        }
    }
    // 이벤트 리스너
    $(document).ready(function () {
        $('#id_thumbnail').change(function (e) {
            readImage(e)
        })
    })
</script>
{% endblock  %}