{% extends 'base.html' %}
{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Password Reset Page</h1>
    <h3>
      본 아이디로 회원가입했을 때 입력된 이메일로 비밀번호 변경 메일을 발송
    </h3>
  </div>
  <br/>

  <form action="{% url 'Admin:reset_password' %}" method="POST" class="text-center">
    {% csrf_token %}
    {{form.email}}
    {% comment %} <input type="submit" value="Send email" /><br> {% endcomment %}
  </form><br/>
{% endblock content %}
{% block script %}
<script>
  $(document).ready(function(){

  })
</script>

{% endblock script %}


