{% extends "base.html" %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="recruit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{recruit.project.title}} 신청</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'Recruit:apply' recruit.pk %}" method="POST" name="applyform">
                {% csrf_token %}
                <label for="id_contents">메세지</label>
                <textarea class="form-control" name="contents" id="id_contents" cols="30" rows="5" placeholder="메세지를 입력해주세요." style="resize:none;"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="document.applyform.submit()">신청하기</button>
        </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col mt-4">
        <div class="form-group detailDiv rounded row p-4">
            <h2 class="title">{{recruit.title}}</h2>
            <div class="mb-4 bg-white detail-control">
                <label for="title">프로젝트 제목</label>
                <p>{{recruit.project.title}}</p>
            </div>
            <div class="mb-4 bg-white detail-control">
                <label for="thumbnail">썸네일</label>
                <p class='text-center'>
                    <img src="{% if recruit.project.thumbnail %}{{recruit.project.thumbnail.url}}{% else %}/media/thumbnail-default.jpg{% endif %}" alt="이미지 오류" style="height:10vw;">
                </p>
            </div>
            <div class="mb-4 bg-white detail-control">
                <label for="contents">내용</label>
                <p>{{recruit.contents}}</p>
            </div>
            <div class="mb-4 bg-white detail-control">
                <label for="language">모집 언어, 인원 수</label>
                {% for rl in re_la %}
                <div class='mb-1'>
                    {{rl.language}} | {{rl.people}} 명 모집 중
                </div>
                {% empty %}
                <p>모집 언어, 인원 수가 없습니다.</p>
                {% endfor %}
            </div>
            <div class="mb-4 bg-white detail-control">
                <label for="regdate">등록일</label>
                <p>{{recruit.regdate}}</p>
            </div>
            <div class="mt-3 p-0 text-end">
                {% if request.session.who == 'developer' and recruit.project.leader.id == request.session.id %}
                <a class="btn btn-primary" href='{% url "Recruit:update" recruit.pk %}'>수정하기</a>
                {% endif %}
                {% for member in recruit.project.member.all %}
                    {% if request.session.id == member.id %}
                    {% endif %}
                    {% endfor %}
                    <a class="btn btn-primary" href='{% url "Recruit:apply" recruit.pk %}' data-bs-toggle="modal" data-bs-target="#recruit-modal">신청하기</a>
                    <a class="btn btn-primary" href='{% url "Project:detail" recruit.project.pk %}'>프로젝트 보기</a>
                    <a class="btn btn-primary" href='{% url "Recruit:list" %}'>목록</a>
                {% comment %} {% elif request.session.id and request.session.id in recruit.project.member.all  %} {% endcomment %}
            </div>
        </div>
    </div>
    {% comment %} 신청 목록 {% endcomment %}
    <div class="col-4 mt-4">
        <h2>신청 목록</h2>
        <hr>
        <div class="mt-3" id='kinglist'>
            {% for re in recruits %}
            <div class="mb-3 row px-1" id='list{{re.pk}}'>
                <button class="btn btn-secondary col me-2 py-3" type="button" data-bs-toggle="collapse" data-bs-target="#recruit{{re.pk}}" aria-expanded="false" aria-controls="recruit{{re.pk}}">
                    {{re.developer.nickname}}
                </button>
                <button class="btn btn-primary col col-lg-2 me-1" onclick="accept({{re.pk}})">수락</button>
                <button class="btn btn-danger col col-lg-2" onclick="refuse({{re.pk}})">거절</button>
                <div class="collapse p-0 pt-1" id="recruit{{re.pk}}">
                    <div class="card card-body">
                        {% if re.contents %}
                        {{re.contents}}
                        {% else %}
                        내용이 없습니다.
                        {% endif %}
                        <a class="btn btn-primary col-12 mt-4" href="#">정보 보기</a>
                    </div>
                </div>
            </div>
            {%empty%}
            <h5>신청 목록이 없습니다.</h5>
            {% endfor %}
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}
{% block script %}
    <script>
        if("{{apply}}"=="true"){
            alert("신청 완료")
        }

        function refuse(pk){
            if(pk){
                $.ajax({
                    url: "{% url 'Recruit:delete' %}",
                    type: "POST",
                    data: {'recruit_pk': pk,'csrfmiddlewaretoken': '{{csrf_token}}'},
                    dataType: 'json',
                    success: function(response){
                        $('#list'+pk).fadeOut('normal', function(){
                            $(this).remove()
                            if($("div[id^='list']").length==0){
                                $("#kinglist").html('<h5>신청 목록이 없습니다.</h5>')
                            }
                        })
                    }
                })
            }
        }

        function accept(pk){
            if(pk){
                $.ajax({
                    url: "{% url 'Recruit:accept' %}",
                    type: "POST",
                    data: {'recruit_pk': pk, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                    dataType: 'json',
                    success: function(response){
                        $('#list'+pk).animate({height:'toggle'}, 300, function(){
                            $(this).remove()
                            if($("div[id^='list']").length==0){
                                $("#kinglist").html('<h5>신청 목록이 없습니다.</h5>')
                            }
                        })
                    }
                })
            }
        }
    </script>
<script src="/static/js/detail.js"></script>
<link rel="stylesheet" href="/static/css/detail.css">
{% endblock  %}
