{% extends 'base.html' %}
{% block title %}수정{% endblock  %}
{% block content %}
{% load bootstrap4 %}
<link rel="stylesheet" href="/static/css/create.css">
<script src="/static/js/create.js"></script>
<form action="{% url 'Recruit:update' pk %}" method="POST" id="form_id" class="update">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <a class="btn btn-outline-dark col-2" href="{% url 'Recruit:list' %}">목록</a>
    <button type="button" class="btn btn-outline-dark col-2 mx-2" onclick="history.back()">이전으로</button>
    <button type="button" class="btn btn-primary col" id="update">수정완료</button>
    
</form>
{% endblock content %}
{% block script %}
<script src="/static/js/recruit/recruit_update.js"></script>
{% endblock script %}