{% extends 'base.html' %}
{% block title %}프로젝트 모집 리스트{% endblock %}

{% block content %}
<div class="row mt-5" id="listform">
    <h2 class="mb-4">프로젝트 모집</h2>
    <div class="col-12 rounded tableDiv p-0">
        <table class="table table-borderless m-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>프로젝트</th>
                    <th>팀장</th>
                    <th>좋아요 수</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for recruit in recruits %}
                <tr style="height:7vw;">
                    <td>{{recruit.pk}}</td>
                    <td onclick="location.href = `{% url 'Recruit:detail' recruit.pk %}`" class="clicktd">{{recruit.title}}</td>
                    <td onclick="location.href = `{% url 'Project:detail' recruit.project.pk %}`" class="clicktd">
                        {{recruit.project.title}}<br>
                        {% if recruit.project.thumbnail %}
                        <img src="{{recruit.project.thumbnail.url}}" alt="이미지 없음" style="height:5vw;object-fit: contain;">
                        {% endif %}
                    </td>
                    <td onclick='location.href = `{% url "Developer:info" recruit.project.leader.pk %}`' class="clicktd">
                        <img src="{% if recruit.project.leader.pic %}{{recruit.project.leader.pic.url}}{% else %}/media/user_icon.png/{% endif %}" alt="" style="height:3vw;object-fit: contain;display:block;margin:0 auto;">
                        {{recruit.project.leader.nickname}}
                    </td>
                    <td>{{recruit.project.d_likeproject.count|add:recruit.project.c_likeproject.count}}</td>
                    <td>{{recruit.viewcnt}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    
<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if recruits.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{recruits.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <a class="page-link disable" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="">{{recruits.number}} / {{recruits.paginator.num_pages}}</a>
                </li>
                {% if recruits.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{recruits.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}          
            </ul>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
            <div class="form-group mt-3">

                <select name="menu" id="menu" class='form-control mx-3' style='width:9%; display:inline-block'>
                    <option value="all" selected>전체</option>
                    <option value="title">제목</option>
                    <option value="contents">내용</option>
                    <option value="project">프로젝트</option>
                </select>

                <input class='form-control' style='width:70%; display:inline-block' type="text" name="searchtxt" id="searchtxt" value='{{ search }}'>

                <input type="button" class="btn btn-primary mt-1 mb-2 mx-3" style='width:9%;' value="검색" onclick="search()">
            </div>
    </div>
</div>
{% endblock  %}
{% block script %}
<link rel="stylesheet" href="/static/css/list.css">
<script>
var session = {{request.session.id}}
$(document).ready(function(){
    console.log("------------------------------")
    if(session == null){
        console.log("=========================="+session+"======================")
        $('#loginbtn').click()
    
    }
})
</script>
<script>
    $( document ).ready(function() {
        $("#menu").val("{{ menu }}").prop("selected", true);
    });
</script>
<script>
    function search(){
        var searchtxt = document.getElementById('searchtxt')
        var menu = document.getElementById('menu')
        console.log(menu.options[menu.selectedIndex].value);
        console.log(searchtxt.value)
        location.href="{% url 'Recruit:list' %}?s="+searchtxt.value+"&m="+menu.options[menu.selectedIndex].value
    }
</script>
{% endblock  %}