{% extends 'base.html' %}
{% block title %}사용자 정보 수정{% endblock  %}
{% load bootstrap4 %}
{% block content %}
<link rel="stylesheet" href="/static/css/create.css">
<script>
    $(document).ready(function(){
        $('[for=resume-clear_id],#id_resume, #resume-clear_id').addClass('noani')
    })
</script>
<script src="/static/js/create.js"></script>
<form action="{% url 'Developer:update'%}" method="POST" enctype="multipart/form-data" name="updatefrm" id="form_id" class="mt-5">
    <h2 class="mb-4">사용자 정보 수정</h2>
    {% csrf_token %}
    {% for field in form %}
    {% comment %} 프로필 사진 {% endcomment %}
    {% if field.name == "pic" %}
    <input type="hidden" id="pic_url" value='{{pic.url}}'>
    {% bootstrap_field field %}
    <input type="button" id="basic" class="btn btn-outline-dark formbtn mb-4" value="기본 이미지로 변경"></input>
    <input type="hidden" value="false" name="pic_default" id="pic_default">
    {% else %}
    {% bootstrap_field field %}
    {% endif %}
    <div id ="check_{{field.name}}"></div>
    <script>
        // 안내 메세지 툴팁
        if("{{field.id_for_label}}"){
            $("#{{field.id_for_label}}").focus(function(){$(this).tooltip('show')})
        }
    </script>
    {% endfor %}
    <input type="button" class="btn btn-primary form-control col mt-3 py-4 formbtn" id="update" value="수정완료">
    </form>
    <button type="button" class="btn btn-outline-dark col-2 mt-3 py-4 mx-4 formbtn" onclick="history.back()">이전으로</button>
    <form action="{% url 'Developer:leave' %}" method="post" name="leavefrm">
        {% csrf_token %}
        <input type="button" class="btn btn-outline-dark col-2 mt-3 formbtn" id="leave" value="탈퇴하기"></input>
    </form>
    <input type="hidden" value="{{csrf_token}}" id="csrf_token">
<br><br><br>
{% endblock content %}
{% block script %}
<script>
    checkPassword_url = '{% url "Developer:checkPassword" %}'
</script>
<script src="/static/js/developer/developer_update.js"></script>
{% endblock  %}