{% extends "base.html" %}

{% block content %}

<!-- Password Modal -->
<div id ="passwordModal"  class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">modal-header</h4>
            </div>
            <div class="modal-body">    
                <p>modal</p>
            </div>
            <div class="modal-footer"> 
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="form-group">
            <h4>{{developer.nickname}}</h4>
            <label for="프로필 사진">프로필 사진</label><br>
            {% if developer.pic %}
            <img src="{{developer.pic.url}}" alt="사진 없음"><br>
            {% else %}
            <img src="/media/user_icon.png/" alt="사진 없음"><br>
            {% endif %}
            <label for="userid">아이디</label> : {{developer.userid}}<br>
            <label for="email">이메일</label> : {{developer.email}}<br>
            <label for="regdate">가입일</label> : {{developer.regdate|date:"Y년 m월 d일"}}<br>
            <label for="birthday">생년월일</label> : {{birth.year}}년 {{birth.month}}월 {{birth.day}}일<br>
            <label for="age">나이</label> : {{birth.age}}<br>
            <label for="gender">성별</label> : {{gender}}<br>     
            <label for = "resume"> 이력서</label> :
            {% if developer.resume %}
            <a class="btn btn-primary" href ="{% url 'Developer:resume_download' developer.id %}">{{developer.resume.name}}</a>
            {% else %}
            등록된 이력서가 없습니다.
            {% endif %}
        </div>
        <div class="mt-3">
            <button class="btn-modal" data-toggle="modal" data-target="#passwordModal" id = "">수정하기</button>
        </div>
        
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock script %}
