{% extends 'base.html' %}
{% block content %}
{% if developer.id == request.session.id %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light table-hover">
            <tbody class="text-dark">
                {% if project %}
                {% for project in projects %}
                <tr onclick='location.href="/project/detail/{{project.id}}/"'>
                    <td>{{project.id}}</td>
                    <td>{{project.title}}</td>
                    <td><img src="{{project.thumbnail.url}}" alt=""></td>
                </tr>
                {% endfor %}
                {% else %}
                {{request.session.name}}님의 프로젝트가 없습니다.<br>
                <a class="btn btn-primary" href="{% url 'Project:list' %}">프로젝트 만들러가기</a>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light table-hover">
            <tbody class="text-dark">
                {% if project %}
                {% for project in projects %}
                <tr onclick='location.href="/project/detail/{{project.id}}/"'>
                    <td>{{project.id}}</td>
                    <td>{{project.title}}</td>
                    <td><img src="{{project.thumbnail.url}}" alt=""></td>
                </tr>
                {% endfor %}
                {% else %}
                {{developer.nickname}}님의 프로젝트가 없습니다.<br>
                <a type="button" class="btn btn-outline-dark" onclick="history.back()">이전으로</a>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% comment %}
<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if projects.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{projects.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <a class="page-link disable" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="">{{projects.number}} / {{projects.paginator.num_pages}}</a>
                </li>
                {% if projects.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{projects.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div> {% endcomment %}

{% endblock  %}