{% extends 'base.html' %}
{% block title %}사용자 정보 수정{% endblock  %}
{% load bootstrap4 %}
{% block content %}
<link rel="stylesheet" href="/static/css/create.css">
<script>
    $(document).ready(function(){
        $('[for=resume-clear_id],#id_resume, #resume-clear_id').addClass('noani')
    })
</script>
<script src="/static/js/create.js"></script>
<!-- Password Modal -->
<div id ="passwordModal"  class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">비밀번호 수정하기</h4>
            </div>
            <div class="modal-body">    
                <p>수정할 비밀번호를 입력해 주세요</p>
                <input type="password" class="form-control mt-1" id="password" placeholder="비밀번호를 입력해주세요">
                <div id="check_password"></div>
                <p class='mt-3'>비밀번호를 다시 입력해주세요</p>
                <input type="password" class="form-control mt-1" id="re_password" placeholder="비밀번호를 입력해주세요">
                <div id="check_re_password"></div>
            </div>
            <div class="modal-footer"> 
                <button class="btn btn-primary" id ="change_password" >변경</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" id="cancel">취소</button>
            </div>
        </div>
    </div>
</div>
<form action="{% url 'Developer:update'%}" method="POST" enctype="multipart/form-data" name="updatefrm" id="form_id" class="mt-5">
    <h2 class="mb-4">사용자 정보 수정</h2>
    {% csrf_token %}
    <input id="pwbtn" type='button' class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#passwordModal" value="비밀번호 수정하기"/>
    {% for field in form %}
    {% comment %} 프로필 사진 {% endcomment %}
    {% if field.name == "pic" %}
    <input type="hidden" id="pic_url" value='{{pic.url}}'/>
    {% bootstrap_field field %}
    <input type="button" id="basic" class="btn btn-outline-dark formbtn mb-4" value="기본 이미지로 변경"/>
    <input type="hidden" value="false" name="pic_default" id="pic_default"/>
    {% else %}
    {% bootstrap_field field %}
    {% endif %}
    <div id ="check_{{field.name}}"></div>
    <script>
        // 안내 메세지 툴팁
        if("{{field.id_for_label}}"){
            $("#{{field.id_for_label}}").focus(function(){$(this).tooltip('show')})
        }
    </script>
    {% endfor %}
    <input type="button" class="btn btn-primary form-control col mt-3 py-4 formbtn" id="update" value="수정완료"/>
    <button type="button" class="btn btn-outline-dark col-2 mt-3 py-4 mx-4 formbtn" onclick="history.back()">이전으로</button>
    <input type="button" class="btn btn-outline-dark col-2 mt-3 formbtn" id="leave" value="탈퇴하기"/>
    <input type="hidden" value="{{csrf_token}}" id="csrf_token"/>
</form>
<form action="{% url 'Developer:leave' %}" method="POST" id="leavefrm" name="leavefrm">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{pk}}">
</form>
<br><br><br>
{% endblock content %}
{% block script %}
{% comment %} <script>
    checkPassword_url = '{% url "Developer:checkPassword" %}'
</script> {% endcomment %}
<script>
    $(document).ready(function(){
        $('[for=id_pic]').css({'background-image': "url(/media/{{pic}})"})
        $('#change_password').click(function(){
                var password = $("#password").val();
                var re_password = $("#re_password").val();
                console.log(password)
                $.ajax({
                    url: "{% url 'Developer:checkPassword' %}",
                    type:"POST",
                    data : {'csrfmiddlewaretoken': $('#csrf_token').val(),'password':password},
                    datatype:'json',
                    success:function(response){
                        if(response.blank){
                            $('#check_password').html('<p style="color:red">비밀번호를 입력해주세요</p>')
                            return;
                        }else if(response.data == "success"){
                            $('#check_password').html('<p style="color:red">현재 비밀번호와 같습니다</p>')
                            return;
                        }else{
                            var reg_pass = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
                            if(!reg_pass.test(password)){
                                $('#check_password').html('<p style="color:red">유효한 비밀번호가 아닙니다</p>');
                                return;
                            } else if (password != re_password){
                                $('#check_re_password').html('<p style="color:red">비밀번호가 다릅니다</p>');
                                return;
                            } else {
                                console.log(password)
                                $.ajax({
                                    url: "{% url 'Developer:changePassword' %}",
                                    type: "POST",
                                    data: {'csrfmiddlewaretoken': $('#csrf_token').val(),'password':password},
                                    datatype: "json",
                                    success:function(response){
                                        if(response.data == 'success'){
                                            $("#password").val('')
                                            $("#re_password").val('')
                                            $('#cancel').click()
                                            alert('비밀번호 변경 성공')
                                        }
                                    }
                                })
                            }

                        }
                    }
                })
        })
    })
</script>
<script src="/static/js/developer/developer_update.js"></script>
{% endblock  %}