{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<div class="row mt-5" id="listform">
    <h2 class="mb-4">개발자</h2>
    <div class="col-12 rounded tableDiv p-0">
        <table class="table table-borderless m-0 table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>프로필 사진</th>
                    <th>닉네임</th>
                    <th>이메일</th>
                    <th>사용 언어</th>
                    <th>팔로우 수</th>
                </tr>
            </thead>
            <tbody>
                {% for developer in developer %}
                <tr style="height:7vw;" onclick="location.href = `{% url 'Developer:info' developer.pk %}`">
                    <td>{{ developer.id }}</td>
                    <td>
                        <img src="{% if developer.pic %}{{developer.pic.url}}{% else %}/media/user_icon.png/{% endif %}" alt="" style="height:4vw;object-fit: contain;">
                    </td>
                    <td>{{ developer.nickname }}</td>
                    <td>{{ developer.email }}</td>
                    <td>{{developer.language.all|join:" , "}}</td>
                    <td>{{like_developer|reportkey:developer.pk}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if developer.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ developer.previous_page_number }}&s={{ search }}&m={{ menu }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ developer.number }} / {{ developer.paginator.num_pages }}</a>
                </li>    
                {% if developer.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ developer.next_page_number }}&s={{ search }}&m={{ menu }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}            
            </ul>
        </nav>
    </div>
</div>
<!-- pagination -->

<div class="row">
    <div class="col-12">
            <div class="form-group mt-3">

                <select name="menu" id="menu" class='form-control mx-3' style='width:9%; display:inline-block'>
                    <option value="all" selected>전체</option>
                    <option value="nickname">닉네임</option>
                    <option value="email">이메일</option>
                    <option value="language">언어</option>
                </select>

                <input class='form-control' style='width:70%; display:inline-block' type="text" name="searchtxt" id="searchtxt" value='{{ search }}'>

                <input type="button" class="btn btn-primary mt-1 mb-2 mx-3" style='width:9%;' value="검색" onclick="search()">
            </div>
    </div>
</div>

{% endblock %}


{% block script %}
<link rel="stylesheet" href="/static/css/list.css">
<script>
    list_url = "{% url 'Developer:list' %}"
    selected_menu = $('#menu').val()
</script>
<script src="/static/js/developer/developer_list.js"></script>
{% endblock  %}