{% extends 'base.html' %}
{% block title %}프로젝트 리스트{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-light table-hover">
                <tbody class="text-dark">
                    {% for project in projects %}
                    <tr onclick='location.href="/project/detail/{{project.id}}/"'>
                        <td>{{project.id}}</td>
                        <td>{{project.title}}</td>
                        <td><img src="{{project.thumbnail.url}}" alt=""></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- pagination -->
    <div class="row mt-2">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if projects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{projects.previous_page_number}}">이전으로</a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link disable" href="#">이전으로</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{projects.number}} / {{projects.paginator.num_pages}}</a>
                    </li>
                    {% if projects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{projects.next_page_number}}">다음으로</a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link disabled" href="#">다음으로</a>
                    </li>
                    {% endif %}          
                </ul>
            </nav>
        </div>
    </div>

    <a href="{% url 'Project:create' %}" class="btn btn-primary">생성</a>
{% endblock  %}