{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action="{% url 'Developer:join' %}" enctype="multipart/form-data" name="joinfrm">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {% if field.name == 'language' %}
                <label>{{field.label}}</label>
                <ul class='form-control' style='list-style-type: none;'>
                    {% for f in field %}
                    <li>{{f}}</li>
                    {% endfor %}
                </ul>
                {% elif field.name == 'email_option'%}
                    @<input type="{{field.field.widget.input_type}}" id="email_option" name="{{field.name}}" class="form-control">
                    <select id="email_select">
                        <option value="">직접입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="daum.net">daum.net</option>
                    </select>
                    <input type="button" value="이메일 인증">
                {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
                    <div id="check_{{field.name}}"></div>
                    {% if field.name == "userid"%}
                    <input type="button" id="duple_userid" value="중복검사"><div id="dupleId_result"></div>
                    {% endif %}
                    {% if field.name == "nickname"%}
                    <input type="button" id="duple_nickname" value="중복검사"><div id="dupleNick_result"></div>
                    {% endif %}
                {% endif %}
                {% if field.errors %}
                <span class="text-danger">{{ field.errors }}</span>
                {% endif %}
                {% endfor %}
                <div class="mt-3">
                <button type="submit" class="btn btn-primary mt-3" id="join">회원가입</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
$(document).ready(function(){
    var id_button = false;
    var nick_button = false;
    $('#duple_userid').click(function(){
        var userid=$('#id_userid').val()
        $.ajax({
            url: "{% url 'Developer:check_id' %}",
            data: {'userid': userid},
            datatype:'json',
    
            success : function(response){
                if(response.blank){
                    $('#dupleId_result').html('<p>아이디를 입력해주세요</p>')
                    id_button = false
                    return;
                }else{
                    if(response.data == 'not exist'){
                        $('#dupleId_result').html('<p style="color:green">사용가능한 아이디입니다</p>')
                        id_button = true
                        return;
                    }else{
                        $('#dupleId_result').html('<p style="color:red">중복된 아이디입니다</p>')
                        id_button = false
                        return;
                        
                    }

                }
                
            }
            
        })
    })
    $('#duple_nickname').click(function(){
        var nickname=$('#id_nickname').val()
        $.ajax({
            url:"{% url 'Developer:check_nick' %}",
            data:{'nickname':nickname},
            datatype:'json',

            success : function(response){
                if(response.blank){
                    $('#dupleNick_result').html('<p>닉네임을 입력해주세요</p>')
                    nick_button = false
                    return;
                }else{
                    if(response.data == 'not exist'){
                        $('#dupleNick_result').html('<p style="color:green">사용가능한 닉네임입니다</p>')
                        nick_button=true;
                        return;
                    }else{
                        $('#dupleNick_result').html('<p style="color:red">중복된 닉네임입니다</p>')
                        nick_button=false;
                        return;
                        
                    }

                }
                
            }
        })
    })
    
    $('#email_select').change(function(){
        $("#email_option").val($('#email_select').val());
    })
    
    $('#join').click(function(){
        var joinfrm = document.forms['joinfrm']
		var reg_pass = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
		var reg_id = /^[a-z]+[a-z0-9]{5,19}$/g; 
        console.log(joinfrm['email_option'])
        
        if(!reg_id.test(joinfrm['userid'].value.trim())){
            joinfrm['userid'].focus();
            $('#check_userid').html('<p style="color:red">유효한 아이디가 아닙니다</p>')
            return false;
        }
        
        if(!reg_pass.test(joinfrm['password'].value.trim())){
            joinfrm['password'].focus();
            $('#check_password').html('<p style="color:red">유효한 비밀번호가 아닙니다</p>')
            return false;
        }
        
        if(!id_button){
            joinfrm['userid'].focus();
            $('#check_userid').html('<p style="color:red">아이디 중복검사를 해주세요</p>')
            return false;
        }
        if(!nick_button){
            joinfrm['nick_button'].focus();
            $('#check_nickname').html('<p style="color:red">닉네임 중복검사를 해주세요</p>')
            return false;
            
        }
       
        
        joinfrm.submit();
    }) 

    
    
})

</script>
{% endblock script %}
