{% extends "base.html" %}
{% block title %}게시판{% endblock %}
{% block content %}
<div class="row mt-5">
    <div class="col-12 mt-4">
        <div class="form-group detailDiv rounded row p-4" id="form_id">
            <h2 class="title">{{board.title}}</h2>
            <h6 class="text-white">조회수: {{board.viewcnt}} | 작성일: {{board.regdate}}</h6>
            <div class="mb-4 bg-white detail-control">
                <label for="contents">내용</label>
                <p>{{board.contents}}</p>
            </div>
            <div class="mb-4 bg-white detail-control">
                <label>첨부 파일</label>
                {% if boardimg == '' %}
                <p>첨부파일이 없습니다</p>
                {% else %}
                <a class='form-control'
                    href="{% url 'Board:filedownload' boardimg.pk %}">{{ boardimg.img_original }}</a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
<div class="row mt-5" id="id_comment_reload">
    <div class="col-12">
        <div class="form-group detailDiv rounded p-4 row" id="id_comment_div">
            <div class="bg-white detail-control">
                <label class="px-4 d-inline-block">댓글</label>
                <label class="noani d-inline-block w-25 text-center mt-1"><input type="checkbox" name="private" id="private"> 비공개</label>
                <script>
                    $(document).ready(function(){
                        $('#private').click(function(){
                            console.log($('#private').is(':checked'))
                        })
                    })
                </script>
                <div class="position-relative" id='commentDiv'>
                    <textarea name="comment" id="id_comment" cols="30" rows="2" style="resize:none;padding-right:10%;" class="d-block w-100 form-control"
                    {% if not request.session.id %}disabled placeholder='로그인 후 이용하세요.'{% else %}placeholder='댓글을 남겨보세요.'{% endif %}></textarea>
                    <button class="btn btn-primary position-absolute" style="right:1%;bottom:20%;" id="create_comment_btn" title="댓글을 작성해주세요.">작성</button>
                </div>
                {% for comment in comments|dictsortreversed:'id' %}
                <div class='comment-control rounded p-2 mt-2 div{{comment.pk}}'>
                    <img class="rounded-circle border border-1" style="height:3vw;width:3vw;object-fit: contain;border-color:lightcoral !important"
                    src="{% if comment.developer and comment.developer.pic %}{{comment.developer.pic.url}}{% elif comment.developer %}/media/user_icon.png/{% elif comment.company.pic %}{{comment.company.pic.url}}{% else %}/media/thumbnail-default.jpg{% endif %}" alt="이미지 없음">
                    <label class="px-4 d-inline-block"><a class="text-decoration-none text-white" href="{% if comment.developer %}{% url 'Developer:info' comment.developer.pk %}{% else %}{% url 'Company:detail' comment.company.pk %}{% endif %}">{% if comment.developer %}{{comment.developer.nickname}}{% else %}{{comment.company.name}}{% endif %}</a></label>
                    <label class="px-4 d-inline-block {% if comment.developer %}bg-primary{% else %}bg-warning{% endif %}">{% if comment.developer %}개발자{% else %}기업{% endif %}</label>
                    <label class="px-4 d-inline-block bg-success">{{comment.regdate}}</label>
                    {% if not comment.private %}
                        {% if board.developer.pk == request.session.id and request.session.who == 'developer' %}
                            <p class="px-1">{{comment.contents}}</p>
                        {% elif comment.developer and comment.developer.id == request.session.id and request.session.who == 'developer' %}
                            <p class="px-1">{{comment.contents}}</p>
                        {% elif comment.company and comment.company.id == request.session.id and request.session.who == 'company' %}
                            <p class="px-1">{{comment.contents}}</p>
                        {% else %}
                            <p class="px-1">{{comment.contents}}</p>
                        {% endif %}
                    {% else %}
                    <p class="px-1">비공개 댓글입니다</p>
                    {% endif %}



                    {% if request.session.who == 'developer' and comment.developer.pk == request.session.id or request.session.who == 'company' and comment.company.pk == request.session.id %}
                    <button class="btn btn-danger mb-1 {{comment.pk}}">삭제</button>
                    <script>
                        $('.{{comment.pk}}').click(function(){
                            $.ajax({
                                url: "{% url 'Board:commentdelete' %}",
                                type: "POST", 
                                data: {'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val(), 'pk': '{{comment.pk}}'},
                                dataType: "json", 
                                success: function(){
                                    console.log("삭제성공")
                                    $('.div{{comment.pk}}').slideUp("fast", function(){$(".div{{comment.pk}}").remove()})
                                }
                            })
                        })
                    </script>
                    {% endif %}
                </div>
                {% endfor %}
                <script src="/static/js/detail.js"></script>
                <link rel="stylesheet" href="/static/css/detail.css">
                <script src="/static/js/project/project_detail.js"></script>
                <script src="/static/js/board/comment.js"></script>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}

<input type="hidden" value="{{csrf_token}}" id="csrf_token">
{% endblock %}

{% block script %}
<script>
commenturl = "{% url 'Board:commentwrite' board.pk %}"
</script>
<script src="/static/js/detail.js"></script>
<link rel="stylesheet" href="/static/css/detail.css">
{% endblock %}