{% extends "base.html" %}
{% block title %}게시판 작성{% endblock %}
{% block content %}
{% load bootstrap4 %}
    <form action="{% url 'Board:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mt-3">
            
            {% if field.name == "title"%}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                name="{{ field.name }}" placeholder="title"/>
                <div id="check_{{field.name}}"></div>

            {% elif field.name == 'developer'%}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                 value="{{ request.session.name }}" readonly/>  
                <input type="hidden" name="{{field.name}}" value="{{request.session.id}}">
                <div id="check_{{field.name}}"></div>

            
            {% else %}
                {% bootstrap_field field %}
                <div id="check_{{field.name}}"></div>
            {% endif %}
        {% endfor %}
        </div>
            <a class="btn btn-primary mt-3" href="{% url 'Board:list' %}">목록</a>
            <button class="btn btn-primary mt-3">작성하기</button>
        </div>
    </form>
{% endblock %}

{% block script %}
<script>
    // function readImage(input) {
    //     if (input.target.files && input.target.files[0]) {
    //         const reader = new FileReader();

    //         reader.onload = (e) => {
    //             console.log(e.target.result)
    //             $('input[type="file"]').siblings('label').css({'background-image': 'url('+e.target.result+')'})
    //         }
    //         reader.readAsDataURL(input.target.files[0])
    //     }
    // }
    $(document).ready(function(){
        $('#id_img').change(function(e){
            readImage(e)
        })
    })
</script>
{% endblock %}