{% extends "base.html" %}
{% block title %}게시판 작성{% endblock %}
{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <h1 class="text-center"><a href="{% url 'Board:list' %}">게시판</a></h1>
        <hr>
        <form method="POST" action=".">
            {% csrf_token %}

            {% for field in form %} {# form 의 각 필드 별로 for 순환 #}
            {# field 변수 안에는 필요한 정보들이 있다. #}
            <div class="form-group mt-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% ifequal field.name 'contents' %}
                <textarea class="form-control" name="{{ field.name }}" placeholder="{{ field.label}}"></textarea>
                {% else %}
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
                {% endifequal %}
            </div>
            {% if field.errors %}
            <span class="text-danger">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}

            <div class="mt-3">
                <a class="btn btn-primary mt-3" href="{% url 'Board:list' %}">목록</a>
                <button type="submit" class="btn btn-primary mt-3">작성하기</button>
            </div>
        </form>
    </div>
</div>
<!-- <h2>작성</h2>
<hr>
<form action="/board/write/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name">작성자:</label>
        <input type="text" class="form-control" id="developer" placeholder="작성자를 입력하세요" name="developer" required>
    </div>
    <div class="mb-3 mt-3">
        <label for="subject">제목:</label>
        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" name="title" required>
    </div>
    <div class="mb-3 mt-3">
        <label for="content">내용:</label>
        <textarea class="form-control" rows="5" id="contents" placeholder="내용을 입력하세요" name="contents"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-dark">작성</button>
    <a class="btn btn-outline-dark" href="{% url 'board_list' %}">목록</a>
</form> -->
{% endblock %}