{% extends "base.html" %}

{% block content %}
<div class="row mt-5" id="listform">
    <h2 class="mb-4">기업</h2>
    <div class="col-12 rounded tableDiv p-0">
        <table class="table table-borderless m-0 table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>회사명</th>
                    <th>회사규모</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companys %}
                <tr onclick="location.href='{% url 'Company:detail' company.id %}'">
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.category }}</td>
                    <td>{{ company.tel }}</td>
                    <td>{{ company.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if companys.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ companys.previous_page_number }}&s={{ search }}&m={{ menu }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ companys.number }} / {{ companys.paginator.num_pages }}</a>
                </li>    
                {% if companys.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ companys.next_page_number }}&s={{ search }}&m={{ menu }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}            
            </ul>
        </nav>
    </div>
</div>
<!-- pagination -->

<div class="row">
    <div class="col-12">
            <div class="form-group mt-3">
                {% comment %} {% for field in form %}
                    <div class="form-group">
                        {% bootstrap_field field %}
                    </div>
                {% endfor %}

                {{ form }} {% endcomment %}

                <select name="menu" id="menu" class='form-control mx-3' style='width:9%; display:inline-block'>
                    <option value="all" selected>전체</option>
                    <option value="name">이름</option>
                    <option value="tel">전화번호</option>
                    <option value="email">이메일</option>
                    <option value="address">주소</option>
                    <option value="summary">소개</option>
                    <option value="language">언어</option>
                </select>

                <input class='form-control' style='width:70%; display:inline-block' type="text" name="searchtxt" id="searchtxt" value='{{ search }}'>

                <input type="button" class="btn btn-primary mt-1 mb-2 mx-3" style='width:9%;' value="검색" onclick="search()">
            </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        {% comment %} <a class="btn btn-primary" href="{% url 'Board:write' %}">글쓰기</a> {% endcomment %}
    </div>
</div>
{% endblock %}


{% block script %}
<link rel="stylesheet" href="/static/css/list.css">
<script>
    $( document ).ready(function() {
        $("#menu").val("{{ menu }}").prop("selected", true);
    });
</script>
<script>
    function search(){
        var searchtxt = document.getElementById('searchtxt')
        var menu = document.getElementById('menu')
        console.log(menu.options[menu.selectedIndex].value);
        console.log(searchtxt.value)
        location.href="{% url 'Company:list' %}?s="+searchtxt.value+"&m="+menu.options[menu.selectedIndex].value
    }
</script>
{% endblock  %}