{% extends "base.html" %}
{% block content %}
<div class="row mt-5" id="listform">
    <h2 class="mb-4">내 팔로우</h2>
    <div class="col-12 rounded tableDiv p-0">
        <table class="table table-borderless m-0 table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>닉네임</th>
                    <th>프로필</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th>가입날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for follow in follows %}
                <tr style="height:7vw;" onclick="location.href='{% url 'Developer:info' follow.id %}'">
                    <td>{{ follow.id }}</td>
                    <td>{{ follow.nickname }}</td>
                    <td>
                        <img src="{% if follow.pic %}{{follow.pic.url}}{% else %}/media/user_icon.png/{% endif %}" alt="" style="height:4vw;object-fit: contain;">
                    </td>
                    <td>{{ follow.phonenum }}</td>
                    <td>{{ follow.email }}</td>
                    <td>{{ follow.regdate|date:"Y-m-d H:i:s" }}</td>
                    {% comment %} <td>{{ board.registered_dttm|date:"Y-m-d H:i:s"}}</td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if follows.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ follows.previous_page_number }}&s={{ search }}&m={{ menu }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ follows.number }} / {{ follows.paginator.num_pages }}</a>
                </li>    
                {% if follows.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ follows.next_page_number }}&s={{ search }}&m={{ menu }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}            
            </ul>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form method="POST" id='searchForm' action=".">
            <div class="form-group mt-3">

                <select name="menu" id="menu" class='form-control mx-3' style='width:9%; display:inline-block'>
                    <option value="all" selected>전체</option>
                    <option value="nickname">닉네임</option>
                    <option value="phonenum">전화번호</option>
                    <option value="email">이메일</option>
                </select>

                <input class='form-control' style='width:70%; display:inline-block' type="text" name="searchtxt" id="searchtxt" value='{{ search }}'>

                <input type="button" class="btn btn-primary mt-1 mb-2 mx-3" style='width:9%;' value="검색" onclick="search()">
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    $( document ).ready(function() {
        $("#menu").val("{{ menu }}").prop("selected", true);
    });
</script>
<script>
    function search(){
        var searchtxt = document.getElementById('searchtxt')
        var menu = document.getElementById('menu')
        console.log(menu.options[menu.selectedIndex].value);
        console.log(searchtxt.value)
        location.href="{% url 'Company:follow' %}?s="+searchtxt.value+"&m="+menu.options[menu.selectedIndex].value
    }
</script>
<link rel="stylesheet" href="/static/css/list.css">
{% endblock  %}