{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}기업 정보수정{% endblock  %}

{% block content %}
<link rel="stylesheet" href="/static/css/create.css">
<script src="/static/js/create.js"></script>
<!-- Password Modal -->
<div id ="passwordModal"  class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">비밀번호 수정하기</h4>
            </div>
            <div class="modal-body">    
                <p>수정할 비밀번호를 입력해 주세요</p>
                <input type="password" class="form-control mt-1" id="password" placeholder="비밀번호를 입력해주세요">
                <div id="check_password"></div>
                <p class='mt-3'>비밀번호를 다시 입력해주세요</p>
                <input type="password" class="form-control mt-1" id="re_password" placeholder="비밀번호를 입력해주세요">
                <div id="check_re_password"></div>
            </div>
            <div class="modal-footer"> 
                <button class="btn btn-primary" id ="change_password" >변경</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" id="cancel">취소</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" id='form_id' name='updateForm' action="." enctype="multipart/form-data">
            {% csrf_token %}  

            <input id="pwbtn" type='button' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwordModal" value="비밀번호 수정하기"/>
            {% for field in form %}   {#  form 의 각 필드 별로 for 순환 #}
            {#  field 변수 안에는 필요한 정보들이 있다. #}
            <div class="form-group mt-3">
                {% if field.name == 'tel' %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>  {# id_for_label  <- id 정보가 담겨 있다 #}
                    <input type="hidden" name="{{ field.name }}" id="id_tel"/>
                    <input type="text" class="form-control mt-1 noani" style="display:inline-block" id="{{ field.id_for_label }}1"
                    placeholder="000" name="{{ field.name }}1" value='{{ tel1 }}' maxlength="4"/><span style="width: auto;margin: auto 0;color: lightcoral;font-weight: 900;"> - </span>
                    <input type="text" class="form-control noani" style="display:inline-block" id="{{ field.id_for_label }}2"
                    placeholder="0000" name="{{ field.name }}2" value='{{ tel2 }}' maxlength="4"/><span style="width: auto;margin: auto 0;color: lightcoral;font-weight: 900;"> - </span>
                    <input type="text" class="form-control noani" style="display:inline-block" id="{{ field.id_for_label }}3"
                    placeholder="0000" name="{{ field.name }}3" value='{{ tel3 }}' maxlength="4"/>
                    {% if field.errors %}
                        <span class="text-danger">{{ field.errors }}</span>
                    {% endif %}
                    <div id="check_{{field.name}}"></div>
                {% elif field.name == 'address' %}
                    <label for="{{ field.id_for_label }}" class="form-control text-center py-4 noani">{{ field.label }}</label>  {# id_for_label  <- id 정보가 담겨 있다 #}
                    <input type="text" id="sample6_postcode" style="display:inline-block;" class="form-control noani mb-1 " onclick="sample6_execDaumPostcode()" placeholder="우편번호" readonly>
                    <input type="button" class="btn btn-primary mb-1" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" id="address_btn"><br>
                    <input type="text" class="form-control mb-1 " id="sample6_address" name="{{ field.name }}" placeholder="주소" value="{{ company.address }}" readonly>
                    <input type="text" class="form-control mb-1 " id="sample6_detailAddress" name="address_detail" placeholder="상세주소" value="{{ company.address_detail }}">
                    <input type="text" class="form-control mb-1 " id="sample6_extraAddress" name="address_detail2" placeholder="참고항목" readonly>
                    {% if field.errors %}
                        <span class="text-danger">{{ field.errors }}</span>
                    {% endif %}
                    <div id="check_{{field.name}}"></div>

                {% elif field.name == 'name' %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="row mx-0 justify-content-md-center registnumdiv" style="border-radius: 0.25rem;">
                        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                        placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ company.name }}" />
                    </div>
                    <div id="check_{{field.name}}"></div>
                {% elif field.name == 'pic' %}
                    <input type="hidden" id="pic_url" value="{{pic.url}}">
                    {% bootstrap_field field %}
                    <input type="button" id="basic" class="btn btn-outline-dark formbtn mb-4 col-12" value="기본 이미지로 변경"></input>
                    <input type="hidden" value="false" name="pic_default" id="pic_default">

                {% else %}
                    {% bootstrap_field field %}
                    {% comment %} <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
                    <div id="check_{{field.name}}"></div> {% endcomment %}
                    <div id="check_{{field.name}}"></div>
                {% endif %}
            </div>
            <script>
                // 안내 메세지 툴팁
                if("{{field.id_for_label}}"){
                    $("#{{field.id_for_label}}").focus(function(){$(this).tooltip('show')})
                }
            </script>
            
            {% endfor %}

            <div class="mt-3">
                <input type="button" class="btn btn-primary mt-3 mb-3" id='updatebtn' value="수정하기">
                {% comment %} <button type="submit" class="btn btn-primary mt-3">글쓰기</button> {% endcomment %}
                <a class="btn btn-primary mt-3 mb-3" href="{% url 'Company:detail' company.pk %}">돌아가기</a> 
            </div>
        </form>
    </div>
</div>
<input type="hidden" value="{{csrf_token}}" id="csrf_token">
{% endblock %}
{% block script %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    function sendit(){
        let frm = document.forms.updateForm
        let tel1 = document.getElementsByName('tel1')[0].value
        let tel2 = document.getElementsByName('tel2')[0].value
        let tel3 = document.getElementsByName('tel3')[0].value

        document.getElementsByName('tel')[0].value = tel1 + '-' + tel2 + '-' + tel3

        document.getElementsByName('address_detail')[0].value += " "+document.getElementsByName('address_detail2')[0].value

        frm.submit();
    }
</script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").value="";
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
<script>
    $(document).ready(function(){
        $('[for=id_pic]').css({'background-image': "url(/media/{{pic}})"})
        $('#change_password').click(function(){
                var password = $("#password").val();
                var re_password = $("#re_password").val();
                console.log(password)
                $.ajax({
                    url: "{% url 'Company:checkPassword' %}",
                    type:"POST",
                    data : {'csrfmiddlewaretoken': $('#csrf_token').val(),'password':password},
                    datatype:'json',
                    success:function(response){
                        if(response.blank){
                            $('#check_password').html('<p style="color:red">비밀번호를 입력해주세요</p>')
                            return;
                        }else if(response.data == "success"){
                            $('#check_password').html('<p style="color:red">현재 비밀번호와 같습니다</p>')
                            return;
                        }else{
                            var reg_pass = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
                            if(!reg_pass.test(password)){
                                $('#check_password').html('<p style="color:red">유효한 비밀번호가 아닙니다</p>');
                                return;
                            } else if (password != re_password){
                                $('#check_re_password').html('<p style="color:red">비밀번호가 다릅니다</p>');
                                return;
                            } else {
                                $.ajax({
                                    url: "{% url 'Company:changePassword' %}",
                                    type: "POST",
                                    data: {'csrfmiddlewaretoken': $('#csrf_token').val(),'password':password},
                                    datatype: "json",
                                    success:function(response){
                                        if(response.data == 'success'){
                                            $("#password").val('')
                                            $("#re_password").val('')
                                            $('#cancel').click()
                                            alert('비밀번호 변경 성공')
                                        }
                                    }
                                })
                            }

                        }
                    }
                })
        })
    })
</script>
<script src="/static/js/company/company_update.js"></script>
{% endblock  %}

