header{
    background-color:#ffb6c1;
}
.header-text{
    font-size: 2vw;
    font-family: 'Dongle';
    background-color: white;
    color: lightpink !important;
    text-align: center;
    border-radius: 10px;
}
.header-text:hover, .login-icon:hover{
    background-color: #1a1e21;
}
.dropdown-menu{   
    min-width: 20rem;
    border: 1px solid pink;
    font-family: 'Jua';
    font-size: 1vw;
    color: lightpink;
}
header{
    border-bottom: 2px solid #ffb6c1;
}
.nav-link{
    font-family: 'Dongle', sans-serif;
    color: white;
    font-size: 2vw;
}
.nav-link:hover{
    background-color: #ffb6c1;
}