#form_id{
    border-color: lightcoral !important;
}

#form_id .form-group{
    position: relative;
    margin-bottom: 2%;
    padding: 0;
}
#form_id h2{
    font-family: "Dongle";
    color: lightcoral;
    font-size: 3vw;
}
.formbtn{
    font-family: "Jua";
}
#form_id label{
    position: absolute;
    font-family: 'Jua';
    font-size: 1vw;
    height: 100%;
    transition: color .6s, background-color .6s, width .3s, padding .3s !important;
}
#form_id .label-color{
    background-color: lightcoral;
    color: white;
}
#form_id input[type='text']:not(.noani){
    padding-left: 16%;
    transition: padding .3s !important;
}
#form_id input[type='file'].form-control-file{
    display: none;
}
#form_id .focusLabel:not(.noani){
    /* background-color: salmon !important; */
    width: 15%;
}
#form_id .nofocusLabel:not(.noani){
    /* background-color: lightcoral !important; */
    width: 100%;
}
#form_id .okLabel:not(.noani){
    /* background-color: lightcoral !important; */
    width: 30%;
}
#form_id .wrongLabel{
    background-color: #dc3545 !important;
}
#form_id textarea{
    resize: none;
}
.labelP5{
    padding: 2vw;
}
.labelP10{
    padding: 4vw;
}
/* 툴팁 */
.tooltip-inner{
    padding: 1vw;
    max-width: 100%;
}
/* 주민번호 */
[id^=id_registnum]{
    letter-spacing: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
[id^=id_registnum]:focus{
    outline: none;
}
.checkDiv{
    text-align: right;
}