
#form_id .form-group{
    position: relative;
    margin-bottom: 2%;
    padding: 0;
}
#form_id label{
    position: absolute;
    transition: color .6s, background-color .6s, width .3s, padding .3s !important;
}
#form_id .label-color{
    background-color: lightcoral;
    color: white;
}
#form_id input[type='text']{
    padding-left: 16%;
    transition: padding .3s !important;
}
#form_id input[type='file']{
    display: none;
}
#form_id .focusLabel{
    background-color: salmon !important;
    width: 15%;
}
#form_id .nofocusLabel{
    background-color: lightcoral !important;
    width: 100%;
}
#form_id .okLabel{
    background-color: lightcoral !important;
    width: 30%;
}
#form_id textarea{
    resize: none;
}
.labelP5{
    padding: 5%;
}
.labelP10{
    padding: 10%;
}
