{% extends 'base.html' %}
{% block title %}비밀번호 찾기{% endblock  %}
{% block content %}
{% load bootstrap4 %}
<div class="row mt-5">
  <div class="col-12 mt-4">
    <div class="form-group detailDiv rounded row p-4" id="form_id">
      <h2 class="title">비밀번호 찾기</h2>
      <form class="px-4 py-3" method="POST" action="{% url 'Admin:resetpassword' %}" name="resetPassword">
        {% csrf_token %}
        <div class="mb-4 bg-white detail-control row p-4 m-0">
          <div class="col-6 p-0 py-2 d-inline-block">
              <input type="radio" class="btn-check" name="who" id="developer" value="developer" autocomplete="off" checked>
              <label class="no btn login-select col-12" for="developer">개발자</label>
          </div>
          <div class="col-6 p-0 py-2 d-inline-block">
            <div class="ms-2">
              <input type="radio" class="btn-check" name="who" id="company" value="company" autocomplete="off">
              <label class="no btn login-select col-12" for="company">기업</label>
            </div>
          </div>
          <div class="form-group mt-2 p-0">
            <div class="mb-4 detailDiv detail-control ">
              <label for="userid">아이디</label>
              <input type="text" class="form-control" id="userid" name="userid">
              <span id="check_userid" class="text-light"></span>
              <div class="mt-2 text-end">
                <a type="button" id='checkuserid' class="btn btn-primary">입력</a>
                <a type="button" class="btn btn-light" onclick="history.back()">취소</a>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="/static/js/detail.js"></script>
<link rel="stylesheet" href="/static/css/detail.css">
<script>
  $(document).ready(function(){
    $('#checkuserid').click(function(){
            var frm = document.forms['resetPassword']
            var select = $("input[name='who']:checked").val()
            var userid = $('#userid').val()
            $.ajax({
              url:"{% url 'Admin:check_userid' %}",
              type:"POST",
              data : {'csrfmiddlewaretoken': '{{csrf_token}}','userid':userid,'select':select},
              datatype:'json',
              success:function(response){
                if(response.blank){
                  $('#check_userid').html('<p>아이디를 입력해주세요</p>')
                  return;
                }else{
                  if(response.data == 'wrong id'){
                            $('#check_userid').html('<p style="color:red">아이디가 존재하지 않습니다.</p>')
                          }else if(response.data == "success"){
                              frm.submit()
                          }
                          
                        }
                        
                      }
            
            })
        })
    })
</script>
{% endblock  %}