{% extends "base.html" %}

{% block content %}
<div class="row mt-5" id="listform">
    <h2 class-"mb-4">공지사항</h2>
    <div class="col-12 rounded tableDiv p-0">
        <table class="table table-borderless m-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr onclick="location.href='{% url 'Admin:noticedetail' notice.id %}'">
                    <td>{{ notice.id }}</td>
                    <td>{{ notice.title }}</td>
                    <td>{{ notice.regdate|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ notice.viewcnt }}</td>
                    {% comment %} <td>{{ board.registered_dttm|date:"Y-m-d H:i:s"}}</td> {% endcomment %}
                </tr>
                {%empty%}
                <tr>
                    <td colspan="4">
                        공지사항이 없습니다
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if notices.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ notices.previous_page_number }}&s={{ search }}&m={{ menu }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ notices.number }} / {{ notices.paginator.num_pages }}</a>
                </li>    
                {% if notices.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ notices.next_page_number }}&s={{ search }}&m={{ menu }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}            
            </ul>
        </nav>
    </div>
</div>
{% if request.session.who == 'admin' %}
    <a class="btn btn-primary" href="{% url 'Admin:noticewrite' %}">글쓰기</a>
{% endif %}
<!-- pagination -->

<div class="row">
    <div class="col-12">
            <div class="form-group mt-3">
                {% comment %} {% for field in form %}
                    <div class="form-group">
                        {% bootstrap_field field %}
                    </div>
                {% endfor %}

                {{ form }} {% endcomment %}

                <select name="menu" id="menu" class='form-control mx-3' style='width:9%; display:inline-block'>
                    <option value="all" selected>전체</option>
                    <option value="title">제목</option>
                    <option value="contents">내용</option>
                </select>

                <input class='form-control' style='width:70%; display:inline-block' type="text" name="searchtxt" id="searchtxt" value='{{ search }}'>

                <input type="button" class="btn btn-primary mt-1 mb-2 mx-3" style='width:9%;' value="검색" onclick="search()">
            </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        {% comment %} <a class="btn btn-primary" href="{% url 'Board:write' %}">글쓰기</a> {% endcomment %}
    </div>
</div>
{% endblock %}


{% block script %}
<link rel="stylesheet" href="/static/css/list.css">
<script>
    $( document ).ready(function() {
        $("#menu").val("{{ menu }}").prop("selected", true);
    });
</script>
<script>
    function search(){
        var searchtxt = document.getElementById('searchtxt')
        var menu = document.getElementById('menu')
        console.log(menu.options[menu.selectedIndex].value);
        console.log(searchtxt.value)
        location.href="{% url 'Admin:noticelist' %}?s="+searchtxt.value+"&m="+menu.options[menu.selectedIndex].value
    }
</script>
{% endblock  %}