{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col-12 mt-4">
        <div class="form-group detailDiv rounded row p-4" id="form_id">
            <h2 class="title">비밀번호 찾기</h2>
            <div class="bg-white detail-control p-4">
            {% if fail %}
            <h4>이메일 전송 실패</h4>
            <a href="{% url 'check_userid' %}">다시</a>
            <a href="/"></a>
            {% else %}
            <p>{{email}}로 메일이 전송되었습니다</p>
            <p>이메일에서 재설정된 비밀번호를 확인하여 로그인한 후 내 정보 수정하기에서 비밀번호를 바꿔주세요</p>
            <a class="btn btn-primary text-end" href="/">홈으로 이동</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
<script src="/static/js/detail.js"></script>
<link rel="stylesheet" href="/static/css/detail.css">
{% endblock content %}

